    body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
}
h1{
       font-size: 50px;
       margin: 0;
}

/*=======================
header
========================*/

.banner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    background: #000;
    color: #fff;
    margin-top: 30px;
    border-radius: 15px;
}
.banner .b-details{
    padding: 30px;
    width: 90%;
}
.banner .b-details .b-button{
    padding: 10px;
    background: rgb(168, 49, 49);
    border-radius: 10px;
    color: #fff;
}
.banner .b-image img{
    width: 100%;
}
.sidebar-blogs{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}
/*=======================
header
========================*/


/*=======================
Blogs
========================*/


.sidebar-blogs .side-bar{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    width: 400px;
    background: #000;
    padding: 15px;
    border-radius: 15px;
    height: min-content;

}
.sidebar-blogs .side-bar .b-b{
    
    padding: 10px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.sidebar-blogs .side-bar .active{
background: rgb(138, 103, 137);
}
.sidebar-blogs .blogs{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.sidebar-blogs .blogs .blog{
    border: 1px solid rgb(184, 184, 184);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px #c5c5c5;
}
.sidebar-blogs .blogs .blog-image img{
    width: 100%;
}
.sidebar-blogs .blogs .blog-details{
    display: block;
    width: 100%;

}
.sidebar-blogs .blogs .blog-details .blog-button{
    border-radius: 5px;
    border: 1px solid #000;
}

.sidebar-blogs .blogs .blog-details .fa-solid{
    color: rgb(73, 72, 72);
}
.view{
    width: 95%;
    display: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
.view button{
    background: rgb(196, 38, 38);
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    border: none;
}
/*=======================
Blogs
========================*/

/*=======================
footer
========================*/

.footer {
    width: 100%;
    margin: 20px auto 0;
    text-align: center;
    background: #000;
    color: rgb(252, 252, 252);
    padding-top: 30px;
    padding-bottom: 15px;
}
hr{
    width: 80%;
    margin: 30px auto;
}
.footer .social-midea{
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 30px;
}
.footer .social-midea a{
    color: #fff;
    margin-right: 15px;
    font-size: 30px;
}
.footer .contact{
padding-bottom: 10px;
width: 80%;
margin: 0   auto;
display: grid;
grid-template-columns: repeat(6,1fr);
}
.footer .contact a{
text-decoration: none;
color: #fff;
margin-right: 15px;
}
.footer .copyright p{
    margin-bottom: 0;
}

 /*=======================
footer
========================*/



/*======================
mobile responsive start
=======================*/

@media only screen and (max-width: 687px){
    body{
        margin: 0 auto;
    }
h1{
        font-size: 50px;
        margin: 0;
 }
 .banner{
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
 }
 .banner .b-details .para{
    width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .sidebar-blogs{
    display: block;
    width: 100%;
 }
 .sidebar-blogs .side-bar{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
    flex-direction: row;
    display: block;
 }
 .sidebar-blogs .blogs{
    grid-template-columns: repeat(2,1fr);
    margin: 0 5px;
 }
.footer .contact{
    grid-template-columns: repeat(1,1fr);

}

}
/*====================
mobile responsive end
======================*/

/*=====================
tablet responsive start
======================*/
@media only screen and (min-width:688px)and (max-width:992px){
    body{
        margin: 0 auto;
    }
h1{
        font-size: 50px;
        margin: 0;
 }
 .banner{
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
 }.banner .b-details{
    text-align: center;
 }
 .banner .b-details .para{
    width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
 }
 .sidebar-blogs{
    display: block;
    width: 95%;
 }
 .sidebar-blogs .side-bar{
    width: 94%;
    margin: 0 auto;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: space-around;
 }
 .sidebar-blogs .blogs{
    grid-template-columns: repeat(2,1fr);
    margin: 0 10px;
 }
 .view{
    display: block;
 }
.footer .contact{
    grid-template-columns: repeat(3,1fr);

}

}
/*=====================
tablet responsive start
======================*/